In [1]:
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
given_range=10
for i in range(given_range):
    if i %2==0:
        print(i)

0
2
4
6
8

In [3]:
given_number=10
sum=0
for i in range(1,given_number+1):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [4]:
given_number=10
sum=0
for i in range(given_number):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [5]:
q= 3
for i in range(11):
    print(q, "x",i,"=" ,3*i)

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [6]:
s=21
for i in range(1,11):
    print(s,"*",i,"=",21*i)

21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

In [7]:
w=8
for i in range(1,11):
    print(w,"*",i,"=",8*i)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [8]:
a=[1,2,3,4,5,]
for i in a:
    print(i)

1
2
3
4
5

In [9]:
h = 7
for i in range(1,11):
    print(h,"*", i, "=",7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [10]:
n=range(5)
print(tuple(n))

(0, 1, 2, 3, 4)

In [11]:
n=range(0,11,3)
print(list(n))

[0, 3, 6, 9]

In [12]:
sum=0
for i in range(1,6):
    sum+=i
print(sum)

15

In [13]:
fr=["apple","banana","grapes"]
for i in fr:
 print(fr)

['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes']

In [14]:
word="python"
for char in  word:
    print(char)

p
y
t
h
o
n

In [15]:
for i in range(5):
 print(i)

0
1
2
3
4

In [16]:
fr=["apple","banana","grapes"]
for index,fr in enumerate(fr):
    print(index,fr)

0 apple
1 banana
2 grapes

In [17]:
for i in range(5):
    print(i)
else:
    print("succesfully")

0
1
2
3
4
succesfully

In [18]:
for i in range(1,20):
    if i%2==0:
        break
    else:
        print(n)

range(0, 11, 3)

In [19]:
a=[1,4,7,6,4]
sum=0
for i in a:
    print(i)
    sum=sum+i
print("sum of no",sum)

1
4
7
6
4
sum of no 22

In [20]:
b=(2,3,4,5,67,8,9)
sum=0
for i in b:
    print(i)
    sum=sum+i
print("sum of no",sum)

2
3
4
5
67
8
9
sum of no 98

In [21]:
#Print the first 10 natural numbers using for loop.
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
# 2: Python program to print all the even numbers within the given range.
a=10
for i in range(a):
    if i %2==0:
        print(i)

0
2
4
6
8

In [23]:
#3: Python program to calculate the sum of all numbers from 1 to a given number.
a=10
sum=0
for i in range(1,a+1):
    sum+=i
print(sum)

55

In [24]:
 # 4:Python program to calculate the sum of all the odd numbers within the given range.
a=10
sum=0
for i in range(a):
    if i%2!=0:
        sum+=i
print(sum)

25

In [25]:
#5: Python program to print a multiplication table of a given number
a=5
for i in range(11):
    print(a,"x",i,"=",5*i)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
#5: Python program to print a multiplication table of a given number
s=8
for i in range(11):
    print(s,"x",i,"=",8*i)

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [27]:
# 6: Python program to display numbers from a list using a for loop.
a=[22,34,76,54,33]
for i in a:
    print(i)

22
34
76
54
33

In [28]:
# 7.Python program to count the total number of digits in a number.
a=434
a=str(a)
count=0
for i in a:
    count+=1
print(count)

3

In [29]:
a=23334
a=str(a)
len(a)

5

In [30]:
# 8: Python program to check if the given string is a palindrome.
give_string="madam"
reverse=""
for i in give_string:
    reverse=i+reverse
if(give_string==reverse):
    print("the string",give_string, "palindrome")
else:
    print("the string", give_string ,"not palindrome")

the string madam palindrome

In [31]:
a=int(input("Enter a no:"))
a=str(a)
reverse=""
for i in a:
    reverse=reverse+i
if(a==reverse):
    print("no is pallindrom")
else:
    print("no is not pallindrom")

Enter a no: 74747

no is pallindrom

In [32]:
#10.Python program that accepts a word from the user and reverses it.
a=input()
reverse=""
for i in a:
    reverse = i + reverse
print(reverse)

 mom

mom

In [33]:
#11.Python program that accepts a word from the user and reverses it.
s=input()
reverse=""
for i in s:
    reverse=i+reverse
print(reverse)

 mom

mom

In [34]:
# nested for loop
for i in range(1,6):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [35]:
n=9
for i in range(1,11):
    print(i,"*",n,"=",i*n)

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

In [36]:
a=int(input("Enter a no"))
for i in range(1,11):
      print(i,"*",a,"=",i*a)

Enter a no 2

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [37]:
st= "Shreya Swami"
print("Length of string:", len(st))

Length of string: 12

In [38]:
st= "Shreya Swami"
print("Length of string:", len(st))
for char in st:
    print(char)

Length of string: 12
S
h
r
e
y
a

S
w
a
m
i

In [39]:
st= "Shreya Swami"
print("Length of string:", len(st))
for char in st:
    print(char)
    print("python programming language")
    print()

Length of string: 12
S
python programming language

h
python programming language

r
python programming language

e
python programming language

y
python programming language

a
python programming language


python programming language

S
python programming language

w
python programming language

a
python programming language

m
python programming language

i
python programming language

In [40]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]

int_l=[]
float_l=[]
str_l=[]
for a in l:
    if type(a)==int:
        int_l.append(a)
        
    elif type(a)==float:
        float_l.append(a)
        
    elif type(a)==str:
        str_l.append(a)
        
print("int list is:", int_l)
print("*"*10)
print("Float list is:", float_l)
print("*"*10)
print("String list is :", str_l)

int list is: [2, 3, 5, 6]
**********
Float list is: [3.4, 7.888]
**********
String list is : ['Machine learning', ' Power Bi']

In [41]:
a=[23,54,33,78,99,100,44,32]
sorted(a)

[23, 32, 33, 44, 54, 78, 99, 100]

In [42]:
a=[1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [43]:
s="python"
for i in range(1,11):
    print(s)

python
python
python
python
python
python
python
python
python
python

In [44]:
string="shreya"

for index,value in enumerate(string):
    print(index,value)

0 s
1 h
2 r
3 e
4 y
5 a

In [45]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]

for index,value in enumerate(l):
    print(index,value)

0 2
1 3
2 5
3 6
4 Machine learning
5  Power Bi
6 3.4
7 7.888

In [46]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]

for i,v in enumerate(l):
    print(f"At index{i}, value is {v}")

At index0, value is 2
At index1, value is 3
At index2, value is 5
At index3, value is 6
At index4, value is Machine learning
At index5, value is  Power Bi
At index6, value is 3.4
At index7, value is 7.888

In [47]:
for i in range(1,11):
    print(i)

    if i ==5:
        print("Hello")
        print("*"*10)
        print("Value found")

1
2
3
4
5
Hello
**********
Value found
6
7
8
9
10

In [48]:
for i in range(1,11):
    print(i)

    if i ==5:
        print("Hello")
        print("*"*10)
        print("Value found")
        break

1
2
3
4
5
Hello
**********
Value found

In [49]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]
for i in l:
    if type(i)==float:
        print("float values is:", i)
        print("float value is found")
        break

float values is: 3.4
float value is found

In [50]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]

for i in l:
    print("int value:", i)
    if type(i)==str:
        print("string is foun in a list")
        break

int value: 2
int value: 3
int value: 5
int value: 6
int value: Machine learning
string is foun in a list

In [51]:
for num in range(10,15):
    print("number is :", num)
    if num ==13:
        print("num is found")

number is : 10
number is : 11
number is : 12
number is : 13
num is found
number is : 14

In [52]:
for num in range(10,15):
    print("number is :", num)
    if num ==13:
        print("num is found")
        break

number is : 10
number is : 11
number is : 12
number is : 13
num is found

In [53]:
for num in range(10,15):
    print("number is :", num)
    if num ==13:
        print("no is found")
        break
    print("we are tesing break stat")

number is : 10
we are tesing break stat
number is : 11
we are tesing break stat
number is : 12
we are tesing break stat
number is : 13
no is found

# Continue

In [55]:
for num in range(10,15):
    print("number is :", num)
    if num ==13:
        print("no is found")
        continue
    print("we are tesing break stat")
    print("*"*30)

number is : 10
we are tesing break stat
******************************
number is : 11
we are tesing break stat
******************************
number is : 12
we are tesing break stat
******************************
number is : 13
no is found
number is : 14
we are tesing break stat
******************************

In [56]:
l=[2,3,5,6,  "Machine learning"," Power Bi", 3.4, 7.888]

int_l=[]
float_l=[]
str_l=[]

for i in l:
    if type(i) == int:
        int_l.append(i)
        continue
        
    elif type(i)==str:
        str_l.append(i)
        continue

    elif type(i) ==float:
        float_l.append(i)
        pass

print("integer value is:", int_l,len(int_l))
print("string value is:", str_l,len(str_l))
print("float value is:", float_l,len(float_l))

integer value is: [2, 3, 5, 6] 4
string value is: ['Machine learning', ' Power Bi'] 2
float value is: [3.4, 7.888] 2

In [57]:
for i in range(1,6):
    print(f"value of i:, {i}")
else:
    print("for loop is completed")

value of i:, 1
value of i:, 2
value of i:, 3
value of i:, 4
value of i:, 5
for loop is completed

In [58]:
for i in range(1,6):
        print(f"value of i:, {i}")
        if i ==4:
            print("value is found")
            break
else:
    print("for loop is completed")

value of i:, 1
value of i:, 2
value of i:, 3
value of i:, 4
value is found

In [59]:
for i in range(1,6):
        print(f"value of i:, {i}")
        if i ==4:
            print("value is found")
            continue
else:
    print("for loop is completed")

value of i:, 1
value of i:, 2
value of i:, 3
value of i:, 4
value is found
value of i:, 5
for loop is completed

In [60]:
for i in range(1,6):
        print(f"value of i:, {i}")
        if i ==4:
            print("value is found")
            pass
else:
    print("for loop is completed")

value of i:, 1
value of i:, 2
value of i:, 3
value of i:, 4
value is found
value of i:, 5
for loop is completed

# Factorial

In [62]:
n=5
fact=1

for i in range(1,6):
    fact=fact*i
    
print(fact)

120

In [63]:
n= 21
fact=1

for i in range(1,10):
    fact=fact*i
print(fact)

362880

In [64]:
n=5
fact=1

for i in range(1,6):
    fact=fact*i
else:
    print(f"Factorial no  {n} is {fact}")

Factorial no  5 is 120

In [65]:
m= 7
fact=1

for i in range(1,8):
    fact = fact*i

else:
    print(f"factorial no {m} is {fact}")

factorial no 7 is 5040

In [66]:
m= int(input("Enter a no:"))
fact = 1

for i in range(1,m+1):
    fact = fact*i

else:
    print(f"factorial no {m} is {fact}")

Enter a no: 2

factorial no 2 is 2

In [67]:
p= 15
fact=1

for i in range(1,16):
    fact=fact*i

else:
    print(f"fact no {p} is {fact}")

fact no 15 is 1307674368000

In [68]:
a=int(input("enter a no"))
fact=1

for i in range(1,a+1):
    fact = fact*i


else:
    print(f"factorial no {a} is a {fact}")

enter a no 7

factorial no 7 is a 5040

In [69]:
v=7
fact=1
for i in range(1,8):
    fact=fact*i

else:
    print(f"factorial no {v} is {fact}")

factorial no 7 is 5040

In [70]:
r=int(input("enter a no"))
fact=1

for i in range(1,r+1):
        fact=fact*i

else:
    print(f"factorial no {v} is {fact}")

enter a no 9

factorial no 7 is 362880

In [144]:
n = 11   

for i in range(2,11): # 2 3 4 5 6 7 8 9 10
    if n % i == 0:  # False
        print(f"{n} is not a prime number")
        
    else:
        print(f"{n} is a Prime Number")
        break

11 is a Prime Number

In [160]:
n = 12

for i in range(2,n): # 2 3 4 5 6 7 8 9 10
    if n % i == 0:  # False
        print(f"{n} is not a prime number")
        break
    else:
        print(f"{n} is a Prime Number")

12 is not a prime number

In [162]:
n=9
fact=1

for i in range(1,10):
    fact=fact*i

else:
    print(f"factorial no {n} and {fact}")

factorial no 9 and 362880

In [168]:
s=int(input("enter a no"))
fact=1

for i in range(1,s+1):
        fact=fact*i

else:
    print(f"factorial no {s} is {fact}")

enter a no 5

factorial no 5 is 120

In [172]:
s=17

for i in range(2,n):
    if s % i ==  0:
        print(f"{s} not prime no")
else:
   print(f"{s} prime no")

17 prime no

In [182]:
n=int(input("enter a no"))
for i in range(2,n):
      if n % i ==  0:
          print(f"{n} not prime no")
          break
else:
   print(f"{n} prime no")

enter a no 4

4 not prime no